--
-- PostgreSQL database dump
--

-- Dumped from database version 16.9
-- Dumped by pg_dump version 16.9

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: flow_rules; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.flow_rules (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    system character varying NOT NULL,
    current_task character varying DEFAULT ''::character varying,
    status character varying DEFAULT ''::character varying,
    next_task character varying NOT NULL,
    tat integer NOT NULL,
    tat_type character varying DEFAULT 'daytat'::character varying NOT NULL,
    doer character varying NOT NULL,
    email character varying NOT NULL,
    form_id character varying,
    transferable boolean DEFAULT false,
    transfer_to_emails text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.flow_rules OWNER TO postgres;

--
-- Name: form_responses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_responses (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    response_id character varying NOT NULL,
    flow_id character varying NOT NULL,
    task_id character varying NOT NULL,
    task_name character varying NOT NULL,
    form_id character varying NOT NULL,
    submitted_by character varying NOT NULL,
    form_data jsonb NOT NULL,
    "timestamp" timestamp without time zone DEFAULT now()
);


ALTER TABLE public.form_responses OWNER TO postgres;

--
-- Name: form_templates; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.form_templates (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    form_id character varying NOT NULL,
    title character varying NOT NULL,
    description text,
    questions jsonb NOT NULL,
    created_by character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.form_templates OWNER TO postgres;

--
-- Name: organizations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.organizations (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    name character varying NOT NULL,
    domain character varying NOT NULL,
    subdomain character varying,
    logo_url character varying,
    primary_color character varying DEFAULT '#0066cc'::character varying,
    is_active boolean DEFAULT true,
    max_users integer DEFAULT 50,
    plan_type character varying DEFAULT 'free'::character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.organizations OWNER TO postgres;

--
-- Name: password_change_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.password_change_history (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    user_id character varying NOT NULL,
    changed_at timestamp without time zone DEFAULT now(),
    changed_by character varying,
    reason character varying,
    ip_address character varying,
    device_id character varying
);


ALTER TABLE public.password_change_history OWNER TO postgres;

--
-- Name: sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sessions (
    sid character varying NOT NULL,
    sess jsonb NOT NULL,
    expire timestamp without time zone NOT NULL
);


ALTER TABLE public.sessions OWNER TO postgres;

--
-- Name: tasks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tasks (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    system character varying NOT NULL,
    flow_id character varying NOT NULL,
    order_number character varying,
    task_name character varying NOT NULL,
    planned_time timestamp without time zone NOT NULL,
    actual_completion_time timestamp without time zone,
    doer_email character varying NOT NULL,
    status character varying DEFAULT 'pending'::character varying,
    form_id character varying,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now(),
    flow_initiated_by character varying,
    flow_initiated_at timestamp without time zone,
    flow_description text,
    flow_initial_form_data jsonb,
    original_assignee character varying,
    transferred_by character varying,
    transferred_at timestamp without time zone,
    transfer_reason text
);


ALTER TABLE public.tasks OWNER TO postgres;

--
-- Name: tat_config; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tat_config (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    office_start_hour integer DEFAULT 9,
    office_end_hour integer DEFAULT 18,
    timezone character varying DEFAULT 'Asia/Kolkata'::character varying,
    skip_weekends boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.tat_config OWNER TO postgres;

--
-- Name: user_devices; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_devices (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    user_id character varying NOT NULL,
    device_id character varying NOT NULL,
    device_name character varying,
    device_type character varying,
    browser_name character varying,
    operating_system character varying,
    is_trusted boolean DEFAULT false,
    first_seen_at timestamp without time zone DEFAULT now(),
    last_seen_at timestamp without time zone DEFAULT now(),
    is_active boolean DEFAULT true
);


ALTER TABLE public.user_devices OWNER TO postgres;

--
-- Name: user_login_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.user_login_logs (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    organization_id character varying NOT NULL,
    user_id character varying NOT NULL,
    device_id character varying NOT NULL,
    device_name character varying,
    device_type character varying,
    browser_name character varying,
    browser_version character varying,
    operating_system character varying,
    ip_address character varying,
    location jsonb,
    user_agent text,
    login_time timestamp without time zone DEFAULT now(),
    logout_time timestamp without time zone,
    session_duration integer,
    login_status character varying DEFAULT 'success'::character varying,
    failure_reason character varying
);


ALTER TABLE public.user_login_logs OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id character varying DEFAULT gen_random_uuid() NOT NULL,
    email character varying,
    first_name character varying,
    last_name character varying,
    profile_image_url character varying,
    role character varying DEFAULT 'user'::character varying,
    organization_id character varying,
    username character varying,
    phone_number character varying,
    department character varying,
    designation character varying,
    employee_id character varying,
    date_of_birth timestamp without time zone,
    address text,
    emergency_contact character varying,
    emergency_contact_phone character varying,
    status character varying DEFAULT 'active'::character varying,
    last_login_at timestamp without time zone,
    password_changed_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: flow_rules; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form_responses; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: form_templates; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: organizations; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.organizations (id, name, domain, subdomain, logo_url, primary_color, is_active, max_users, plan_type, created_at, updated_at) FROM stdin;
c216fb50-c019-42fa-89e3-d14a72eafc43	Muxro	muxro.com	\N	\N	#0066cc	t	50	free	2025-08-04 15:56:14.937666	2025-08-04 15:56:14.937666
d3032fbc-7e9d-4fe0-9264-fff9e3d6ff50	Muxro Technologies	jatin@muxro.com	\N	\N	#0066cc	t	50	free	2025-08-06 08:54:55.409246	2025-08-06 08:54:55.409246
\.


--
-- Data for Name: password_change_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.password_change_history (id, organization_id, user_id, changed_at, changed_by, reason, ip_address, device_id) FROM stdin;
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tasks; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tat_config; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.tat_config (id, organization_id, office_start_hour, office_end_hour, timezone, skip_weekends, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: user_devices; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user_login_logs; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: flow_rules flow_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flow_rules
    ADD CONSTRAINT flow_rules_pkey PRIMARY KEY (id);


--
-- Name: form_responses form_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_responses
    ADD CONSTRAINT form_responses_pkey PRIMARY KEY (id);


--
-- Name: form_templates form_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_templates
    ADD CONSTRAINT form_templates_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_domain_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_domain_unique UNIQUE (domain);


--
-- Name: organizations organizations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_pkey PRIMARY KEY (id);


--
-- Name: organizations organizations_subdomain_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.organizations
    ADD CONSTRAINT organizations_subdomain_unique UNIQUE (subdomain);


--
-- Name: password_change_history password_change_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_change_history
    ADD CONSTRAINT password_change_history_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (sid);


--
-- Name: tasks tasks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_pkey PRIMARY KEY (id);


--
-- Name: tat_config tat_config_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tat_config
    ADD CONSTRAINT tat_config_pkey PRIMARY KEY (id);


--
-- Name: user_devices user_devices_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_devices
    ADD CONSTRAINT user_devices_pkey PRIMARY KEY (id);


--
-- Name: user_login_logs user_login_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_logs
    ADD CONSTRAINT user_login_logs_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: IDX_session_expire; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "IDX_session_expire" ON public.sessions USING btree (expire);


--
-- Name: flow_rules flow_rules_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.flow_rules
    ADD CONSTRAINT flow_rules_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: form_responses form_responses_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_responses
    ADD CONSTRAINT form_responses_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: form_templates form_templates_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.form_templates
    ADD CONSTRAINT form_templates_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: password_change_history password_change_history_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_change_history
    ADD CONSTRAINT password_change_history_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: password_change_history password_change_history_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.password_change_history
    ADD CONSTRAINT password_change_history_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: tasks tasks_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tasks
    ADD CONSTRAINT tasks_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: tat_config tat_config_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tat_config
    ADD CONSTRAINT tat_config_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: user_devices user_devices_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_devices
    ADD CONSTRAINT user_devices_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: user_devices user_devices_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_devices
    ADD CONSTRAINT user_devices_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: user_login_logs user_login_logs_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_logs
    ADD CONSTRAINT user_login_logs_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- Name: user_login_logs user_login_logs_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.user_login_logs
    ADD CONSTRAINT user_login_logs_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id);


--
-- Name: users users_organization_id_organizations_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_organization_id_organizations_id_fk FOREIGN KEY (organization_id) REFERENCES public.organizations(id);


--
-- PostgreSQL database dump complete
--

